@model IEnumerable<_300_Tarefas.Models.Tarefa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Minhas Tarefas</h2>

<p>
    @Html.ActionLink("Nova Tarefa", "Create", "Tarefas", null, new { @class = "btn btn-default" })
</p>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        @Html.ActionLink("A fazer", "Index", "Tarefas", new { id = 2 }, new { @class = "btn btn-default" })
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        @Html.ActionLink("Concluídas", "Index", "Tarefas", new { id = 1 }, new { @class = "btn btn-default" })
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        @Html.ActionLink("Mostrar tudo", "Index", "Tarefas", new { id = 0 }, new { @class = "btn btn-default" })
    </div>
</div>
<br />
<br />
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concluido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concluido)
        </td>
        <td>
            @Html.ActionLink("Editar o Nome ou Status da tarefa", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Excluir a tarefa", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
